



<div class='container'>
  <div class="row">
    <div class="col-md-6 offset-md-3">
      <h1><%= @cocktail.name %></h1>
      <%= cl_image_tag @cocktail.photo, height: 400, width: 600, crop: :fill %>
      <div class="description">
        <h3> Description : </h3>
        <% @cocktail.doses.each do |dose| %>
        <ul>
          <li>
          <p> <%= dose.description %> of <%= dose.ingredient.name %>
          <%= link_to '<i class="fa fa-trash-o" aria-hidden="true"></i>
          '.html_safe, dose_path(dose),
          method: :delete,
          data: { confirm: 'are you sure?'},class: "btn btn-gray"%> </p>
          </li>
        </ul>
        <% end %>
        </div>
    </div>
  </div>

  <div class="row">
    <div class="col-md-6 offset-md-3">
      <h3> Add ingredient :</h3>
       <%= simple_form_for [@cocktail, @dose] do |f| %>
       <%= f.input :description %>
       <%= f.association :ingredient, collection: Ingredient.all.order('name ASC') %>
       <%= f.submit "add a dose", class: "btn btn-primary" %>
       <% end %>
    </div>
  </div>

</div>

<div class="links">
<%= link_to "Get back to the list", cocktails_path %>
<%= link_to "Add a dose", new_cocktail_dose_path(@cocktail)%>
</div>
